<div class="dialog-container dialog-container--visible" #dialogcontainer *ngIf="isVisible">
  <div class="dialog">
    <div class="dialog-title">Add new city</div>
    <div class="dialog-body">
      <select id="selectCityToAdd" [(ngModel)]="selectedCity">
        <option *ngFor="let city of cities" [ngValue]="city">{{ city.title }}</option>
      </select>
    </div>
    <div class="dialog-buttons">
      <button id="butAddCity" class="button" (click)="saveCity()">Add</button>
      <button id="butAddCancel" class="button" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>